* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #0f1b35;
  color: #fff;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 2%;
  background-color: rgba(1, 1, 1, 0.3);
  border-bottom: 1px solid burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #d39647;
}

.navbar .navbar-nav a {
  font-size: 14px;
  display: inline-block;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  margin: 0 0.3rem;
}
.navbar .navbar-nav a:hover {
  color: burlywood;
}
.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid burlywood;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.container {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 650px;
  background: url(../assets/background_login.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-top: 35px;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background-color: transparent;
  padding: 10rem 5rem;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
}
.text-sci h1 {
  font-size: 38px;
  line-height: 1.1;
  font-weight: 600;
}
.text-sci h1 span {
  color: #d39647;
  font-weight: 500;
}

.text-sci p {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 250;
  text-align: justify;
}

.container .logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 80%;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-box .icon {
  margin-right: 10px;
  width: 20px;
}

.input-box input {
  padding: 5px;
  width: 61%;
  height: 61px;
  background: transparent;
  border: none;
  outline: none;
}

.logreg-box .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(8px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e4e4e4;
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 20px 0;
}

.input-box label {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: opacity 0.1s ease;
  pointer-events: none;
}

.input-box input[type="text"],
.input-box input[type="password"] {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}
.input-box input[type="text"]:focus + label,
.input-box input[type="password"]:focus + label {
  opacity: 0;
}
.form-box .remember-forgot {
  font-size: 14px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #0f1b35;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #153161;
  transform: translateY(-2px);
}

.btn:active {
  background-color: #0c1c35;
  transform: translateY(1px);
}

.form-box .login-register {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
}
.login-register p a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center; /* Pusatkan teks */
  position: absolute; /* Atur posisi absolut */
  left: 0;
  right: 0;
  bottom: 60px; /* Atur jarak dari bawah */
}
